@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

p {
    margin: 0;
    padding: 0;
}

.wrapper > div {
    padding: 10px;
    margin: 10px auto;
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 20px;
      height: auto;
}



.sizes,
.colors,
.fontnames {
    display: none;

}
.customTable div {
    
    display: block;
}
.customTable div p {
    display: inline-block;
    border: 1px solid #2c3e50;
    height: 4px;
    width: 4px;
}
.customTable {
    height: 5px;
    width:150px;
}

.display {
    display: block !important;
}

button,
select,
input {
    background-color: #eee;
    border: none;
    padding: 10px;
    width: auto;
    display: inline-block;
    cursor: pointer;
}
button:focus {
    outline: none;
}

.font-size,
.color,
.fontname,
.table {
    position: relative;
    padding: auto;
}

.font-size > ul,
.color > ul,
.fontname > ul {
    position: absolute;
    padding: 2px;
    width: auto;
    padding-left: 0;
    margin:0;
    left: 0;
    top: 32px;
}

.font-size > ul li,
.color > ul li,
.fontname > ul li {
    width: auto;
    list-style-type: none;
    padding: none;
    background-color: #eee;
    padding: 2px 5px;
    display: block;
}

.font-size > ul li:hover,
.fontname > ul li:hover {
    background-color: #fff;
}

.color > ul li:nth-child(1){ background-color: #2ecc71; }
.color > ul li:nth-child(2){ background-color: #3498db; }
.color > ul li:nth-child(3){ background-color: #95a5a6; }
.color > ul li:nth-child(4){ background-color: #9b59b6; }
.color > ul li:nth-child(5){ background-color: #2c3e50; }
.color > ul li:nth-child(6){ background-color: #f39c12; }
.color > ul li:nth-child(7){ background-color: #e67e22; }
.color > ul li:nth-child(8){ background-color: #ecf0f1; }

i {
    pointer-events: none;
}